.navbar .dropdown {
  cursor: pointer;
}
.navbar .dropdown-menu {
  top: 37px !important;
  left: auto !important;
  right: 0 !important;
}

.user-photo-container img {
  max-height: 50px;
  border: 2px solid white;
  display: inline;
}
